.menu {
  background-color: white;
  text-align: center;
  padding: 2vh 2vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuItemsContainer {
  margin: 5vh 1vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
