.navbar {
  background-color: black;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  top: 0;
  padding: 2vh 1vw;
  border-bottom: 2px solid red;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
}

.navbar li {
  cursor: pointer;
}

.activeNavItem {
  text-decoration: underline;
}
